<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.mapper.PostInfoMapperI">
    <insert id="insert"  parameterType="com.learn.entity.PostInfo" >
        insert into postinfo values (null,#{title},#{postTime},#{clickNum},#{content},#{topicId},#{pic})
    </insert>
    <delete id="delete" parameterType="int">
        delete from postinfo where id=#{id}
    </delete>
    <update id="update" parameterType="com.learn.entity.PostInfo">
        update postinfo set
        <trim suffixOverrides=",">
            <if test="title!=null">title=#{title},</if>
            <if test="postTime!=null">postTime=#{postTime},</if>
            <if test="clickNum!=0">clickNum=#{clickNum},</if>
            <if test="content!=null">content=#{content},</if>
            <if test="topicId!=0">topicId=#{topicId},</if>
            <if test="pic!=null">pic=#{pic}</if>
        </trim>
        where id=${id}
    </update>
    <select id="selectAll"  resultMap="PostInfoMap" >
        select p.id,p.title,p.postTime,p.clickNum,p.content,p.pic,t.topicId,t.topicName from postinfo p,topic t where p.topicId=t.topicId and p.clickNum between #{currentBegain} and #{currentEnd}
            <if test="currentShortTitle !=null and currentShortTitle.trim()!=''">
                and title like '%${currentShortTitle}%'/*模糊查询实现方法*/
            </if>
            <if test="currentTopicId !=0">
                and p.topicId=#{currentTopicId}
            </if>

    </select>

    <select id="select" resultMap="PostInfoMap" parameterType="int">
        select p.id,p.title,p.postTime,p.clickNum,p.content,p.pic,t.topicId,t.topicName from postinfo p,topic t where p.topicId=t.topicId and id=#{id}
    </select>
    <resultMap id="PostInfoMap" type="com.learn.entity.PostInfo"><!--结果映射-->
        <id property="id" column="id"></id>
        <result property="title" column="title"></result>
        <result property="postTime" column="postTime"></result>
        <result property="clickNum" column="clickNum"></result>
        <result property="content" column="content"></result>
        <result property="pic" column="pic"></result>
        <association property="topic" javaType="com.learn.entity.Topic">
            <id property="topicId" column="topicId"></id>
            <result property="topicName" column="topicName"></result>
        </association>
    </resultMap>
</mapper>
		